services/account/jaxb/src/main/resources/accounts_common_list.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema
  version="0.1"
  xmlns="http://collectionspace.org/services/account"
  targetNamespace="http://collectionspace.org/services/account"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
  xmlns:hj="urn:hyperjaxb3.jvnet.org:ejb:schemas:customizations"
  xmlns:cspace="http://collectionspace.org/services/jaxb"
  jaxb:version="3.0"
  jaxb:extensionBindingPrefixes="hj"
>

    <xs:include schemaLocation="accounts_common.xsd"/>
    <xs:import namespace="http://collectionspace.org/services/jaxb"
               schemaLocation="maven:org.collectionspace.services:org.collectionspace.services.jaxb:jar::!/AbstractCommonList.xsd" />

    <!--
    Avoid XmlRootElement nightmare:
    See http://weblogs.java.net/blog/kohsuke/archive/2006/03/why_does_jaxb_p.html
	-->

    <xs:element name="accounts-common-list">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    AccountsCommonList contains information about one or more
                    accounts. An instance of this type could be returned on
                    index and search operations.
                </xs:documentation>
                <xs:appinfo>
                    <hj:ignored/>
                </xs:appinfo>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="cspace:abstract-common-list">
                    <xs:sequence>
                        <xs:element name="account-list-item" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:annotation>
                                    <xs:appinfo>
                                        <hj:ignored/>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:sequence>
                                    <xs:element name="screenName" type="xs:string" minOccurs="1"/>
                                    <xs:element name="userid" type="xs:string" minOccurs="1" />
                                    <xs:element name="tenantid" type="xs:string" minOccurs="1" />
                                    <xs:element name="tenants" type="account_tenant" minOccurs="1" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>
                                            tenant association is usually not required to be provided by the
                                            service consumer. only in cases where a user in CollectionSpace
                                            has access to the spaces of multiple tenants, this is used
                                            to associate that user with more than one tenants
                                        </xs:documentation>
                                    </xs:annotation>
                                    </xs:element>
                                    <xs:element name="personRefName" type="xs:string" minOccurs="1" />
                                    <xs:element name="email" type="xs:string" minOccurs="1" />
                                    <xs:element name="requireSSO" type="xs:boolean" minOccurs="0" />
                                    <xs:element name="status" type="status" minOccurs="1" />
                                    <!-- uri to retrieve collection object details -->
                                    <xs:element name="uri" type="xs:anyURI" minOccurs="1" />
                                    <xs:element name="csid" type="xs:string" minOccurs="1" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="tenants-list">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    TenantsList contains information about one or more
                    tenants. An instance of this type could be returned on
                    index and search operations.
                </xs:documentation>
                <xs:appinfo>
                    <hj:ignored/>
                </xs:appinfo>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="cspace:abstract-common-list">
		            <xs:sequence>
		                <xs:element name="tenant-list-item" maxOccurs="unbounded">
		                    <xs:complexType>
		                        <xs:annotation>
		                            <xs:appinfo>
		                                <hj:ignored/>
		                            </xs:appinfo>
		                        </xs:annotation>
		                        <xs:sequence>
		                            <xs:element name="id" type="xs:string" minOccurs="1"/>
		                            <xs:element name="name" type="xs:string" minOccurs="1" />
		                            <xs:element name="disabled" type="xs:boolean" minOccurs="1" />
		                        </xs:sequence>
		                    </xs:complexType>
		                </xs:element>
		            </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
